/* Heading for both html pages */
h1 {
    text-align: center;
    padding-top: 15px;
    color: lightseagreen;
    text-shadow: 3px 2.5px black;
}
/* image for index html */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Play Button */
#play-button {
    background-color: white;
    color: black;
    border: 2px solid #008cba;
    margin-left: 45%;
    padding: 12px 28px;
}
/* option items */
#choice {
    display: flex;
    flex: 0%;
    padding: 0px;
}
/* cursor effect */
.btn:hover {
    cursor:pointer;
}
/* cursor effect */
.image-btn:hover {
    cursor:pointer;
}
